@font-face {
  font-family: "Mont";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Thin.eot");
  src: url("../fonts/Mont/Mont-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Thin.woff") format("woff"), url("../fonts/Mont/Mont-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Mont";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Mont/Mont-ExtraLight.eot");
  src: url("../fonts/Mont/Mont-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-ExtraLight.woff") format("woff"), url("../fonts/Mont/Mont-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "Mont";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Light.eot");
  src: url("../fonts/Mont/Mont-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Light.woff") format("woff"), url("../fonts/Mont/Mont-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Regular.eot");
  src: url("../fonts/Mont/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Regular.woff") format("woff"), url("../fonts/Mont/Mont-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Mont/Mont-SemiBold.eot");
  src: url("../fonts/Mont/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-SemiBold.woff") format("woff"), url("../fonts/Mont/Mont-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Mont";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Bold.eot");
  src: url("../fonts/Mont/Mont-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Bold.woff") format("woff"), url("../fonts/Mont/Mont-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Mont";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Black.eot");
  src: url("../fonts/Mont/Mont-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Black.woff") format("woff"), url("../fonts/Mont/Mont-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Mont";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Heavy.eot");
  src: url("../fonts/Mont/Mont-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Heavy.woff") format("woff"), url("../fonts/Mont/Mont-Heavy.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Mont", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #333333;
  font-size: 14px; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mont", sans-serif;
  color: #999999;
  font-size: 13px;
  width: 100%;
  box-shadow: none;
  border: solid 1px #b7b7b7; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #999999; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #999999; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #999999; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #999999; }

input {
  height: 50px; }

textarea {
  height: 95px;
  padding: 10px; }

.input-title {
  width: 100%;
  display: inline-block;
  margin: 0 0 9px;
  font-weight: 600; }

sup {
  color: #e75a5a;
  font-weight: bold; }

.required-fields {
  font-size: 12px;
  font-weight: normal; }

.form {
  width: 100%; }
  .form label {
    margin: 0 0 19px; }
  .form .btn {
    margin: 24px auto 0; }

label {
  display: block; }

button {
  outline: none;
  padding: 0;
  border: none;
    border-radius: 0;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background: transparent; }

.container {
  max-width: 1430px;
  width: 100%;
  padding: 0 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 50px;
  font-weight: 600;
  max-width: 160px;
  width: 100%; }

.btn-accent {
  background: #f9d251;
  color: #333333; }
  .btn-accent:hover {
    background: #333333;
    color: #f9d251; }

.color-yellow {
  color: #f9d251; }

.color-light-grey {
  color: #777777; }

a.color-light-grey:hover {
  color: #f9d251; }

.text-decoration {
  text-decoration: underline; }

.font-bold {
  font-weight: bold; }

.font-600 {
  font-weight: 600; }

.w-100 {
  width: 100%; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .list-social li {
    margin: 0 11px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 1px solid #fff;
        border-radius: 50%;
      width: 36px;
      height: 36px;
      padding: 8px; }
      .list-social li a svg {
        fill: #fff; }
      .list-social li a:hover {
        border-color: #f9d251; }
        .list-social li a:hover svg {
          fill: #f9d251; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 104px;
  width: 100%; }

.line-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 0 16px;
  margin: 0 0 11px; }

h1 {
  font-size: 24px;
  font-weight: 900; }

h2 {
  font-size: 26px;
  font-weight: 900; }

h3 {
  font-weight: 900;
  font-size: 20px; }

.box-text {
  line-height: 1.57; }
  .box-text p {
    margin: 0 0 25px; }
    .box-text p:last-child {
      margin: 0; }

.list-dots li::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #777777;
  margin: 0 9px 0 0; }

.list-number {
  counter-reset: item; }
  .list-number li::before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    display: inline-block;
    margin: 0 5px 0 0;
    font-weight: bold; }

header {
  margin: 0 0 30px; }
  header .logo {
    margin: 0 auto; }

.header-top {
  background: #22272a;
  padding: 7px 0;
  position: relative; }
  .header-top .container {
    min-height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-top .list-social {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.home-menu {
  font-size: 13px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .home-menu li {
    margin: 0 30px 0 0; }
    .home-menu li:last-child {
      margin: 0; }
    .home-menu li a:not(.color-yellow) {
      color: #b3b3b3; }
    .home-menu li a:hover {
      color: #f9d251; }

.header-center {
  background: #272b2e;
  color: #fff; }
  .header-center__top {
    padding: 27px 0 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.header-fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 3;
  background: #272b2e;
  padding: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .header-fixed .logo {
    margin: 0 auto; }
  .header-fixed .links-text {
    display: none; }
  .header-fixed .links-header .links-icon {
    margin: 0; }

.menu {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu li {
    margin: 0 50px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a:not(.color-yellow) {
      color: #fff; }
    .menu li a:hover {
      color: #f9d251; }

.header-bottom {
  padding: 18px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-search button {
    margin: 0 16px 0 0;
    width: 24px;
    height: 24px;
    min-width: 24px; }
    .form-search button svg {
      fill: #fff; }
    .form-search button:hover svg {
      fill: #f9d251; }
  .form-search label {
    width: 211px; }
  .form-search input {
    background: transparent;
    border: none;
    padding: 0; }

.links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777777;
  margin: 0 30px 0 0; }
  .links-header:last-child {
    margin: 0; }
  .links-header svg {
    fill: #fff; }
  .links-header:hover {
    color: #f9d251; }
  .links-header .links-icon {
    margin: 0 10px 0 0;
    width: 22px;
    height: 26px; }

.links-basket .links-icon {
  position: relative;
  margin: 0 18px 0 0; }

.links-basket .svg-icon {
  width: 21px;
  height: 28px; }

.links-basket__val {
  color: #272b2e;
  font-size: 12px;
  font-weight: bold;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #f9d251;
  border-radius: 50%;
  line-height: 1;
  position: absolute;
  top: 0;
  right: -5px; }

.d-mobile {
  display: none; }

.schedule {
  margin: 11px 0;
  color: #777777; }

.header-box {
  font-size: 13px; }

.phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .phone-wrapper .phone::after {
    content: '/';
    display: inline-block;
    margin: 0 5px;
    color: #777777; }
  .phone-wrapper .phone:last-child::after {
    display: none; }
  .phone-wrapper .svg-icon {
    margin: 0 7px 0 0;
    width: 16px;
    height: 16px;
    fill: #999; }

.phone {
  color: #fff;
  font-size: 14px; }
  .phone:hover {
    color: #f9d251; }

.main-home {
  margin: 0 0 69px; }

.home-main__slider {
  background: url("../img/slide1.jpg") no-repeat center;
    background-size: cover; }
  .home-main__slider .slide {
    position: relative;
    min-height: 551px;
    padding: 116px 20px 20px 390px; }

.slick-slide {
  outline: none; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .slick-dots li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    border: 2px solid transparent;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .slick-dots li::before {
      content: '';
      border-radius: 50%;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      width: 8px;
      height: 8px;
      background: #aaaaaa;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    border-color: #f9d251; }
    .slick-dots .slick-active::before {
      background: #f9d251; }

.main-home__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 1; }
  .main-home__content h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 0 50px; }
  .main-home__content p {
    font-size: 25px;
    font-weight: 600; }
  .main-home__content .btn {
    margin: 35px 0 0; }

.main-home__sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 29px 0; }

.main-home__sales-before {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  border-bottom: 12px solid #f9d251;
  padding: 0 10px;
  margin: -40px 1px 0 0; }

.main-home__sales-value {
  color: #f9d251;
  font-size: 140px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: .7; }

.main-home__sales-percent {
  font-size: 100px;
  font-weight: normal;
  line-height: .7; }

.card {
  background: #fff;
  max-width: 280px;
  width: 100%;
  height: 480px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 0 0;
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  margin: 18px auto; }
  .card .btn {
    margin: 23px auto 0;
    display: none; }
  .card:hover {
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    z-index: 1; }
    .card:hover .btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.list-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 20px; }
  .list-tags li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 6px 11px 4px;
    margin: 0 0 3px;
    height: 28px; }
    .list-tags li:last-child {
      margin: 0; }

.bg-accent {
  background: #f9d251; }

.bg-light-grey {
  background: #ececec; }

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 700;
  font-size: 18px;
  line-height: 1; }

.old-price {
  text-decoration: line-through;
  margin: 0 8px 0 0;
  color: #888888;
  font-size: 14px;
  font-weight: 600; }

.card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 210px; }
  .card-img img {
    max-height: 100%; }

.card-title {
  color: #333333;
  margin: 18px auto 23px; }
  .card-title:hover {
    color: #f9d251; }

.card-body {
  padding: 29px 15px 0; }

.list-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .list-rating li {
    margin: 0 4px 0 0;
    width: 14px;
    height: 14px; }
    .list-rating li:last-child {
      margin: 0; }
    .list-rating li svg {
      fill: #f9d251; }
  .list-rating .star-0 svg {
    fill: #ececec; }

.slick-arrow {
  z-index: 1;
  opacity: 1;
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #b7b7b7;
    border-radius: 50%;
  background: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .slick-arrow svg {
    width: 15px;
    height: 18px;
    fill: #b7b7b7;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .slick-arrow::before {
    display: none; }
  .slick-arrow:hover {
    border-color: #f9d251; }
    .slick-arrow:hover svg {
      fill: #f9d251; }

.slick-prev {
  left: -21px; }

.slick-next {
  right: -21px; }

.section-about .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.section-about h2 {
  margin: 0 0 43px; }

.section-about h3 {
  margin: 0 0 46px; }

.section-about h4 {
  margin: 0 0 44px;
  font-size: 24px; }

.section-about .box-text {
  color: #777;
  margin: 0 0 30px; }
  .section-about .box-text:last-child {
    margin: 0; }

.section-about ul {
  color: #777;
  line-height: 2.14;
  margin: 0 0 26px; }

.section-about__box {
  width: 48.5%; }

.brands-section {
  margin: 93px 0 110px; }

.brands-slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px; }
  .brands-slider__box img {
    max-height: 100%; }

footer {
  padding: 54px 0 0;
  color: #fff;
  background: #272b2e; }
  footer h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px; }
  footer .list-social {
    margin: 16px 0 27px; }
  footer .links-call {
    display: none; }
  footer .header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 14px;
    margin: 0 93px 0 auto; }
  footer .mail {
    margin: 0 98px 0 0; }
  footer .logo {
    max-width: 80px; }

.footer-bottom {
  background: #22272a;
  padding: 17px 0; }

.copyright {
  margin: 0 auto;
  font-size: 13px;
  text-align: center; }

.footer-wrapper__bottom {
  padding: 20px 0 22px;
  border-top: 1px solid rgba(249, 249, 249, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-wrapper__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 48px; }

.footer-menu {
  line-height: 2.14; }
  .footer-menu li a {
    color: #c7c7c7; }
    .footer-menu li a:hover {
      color: #f9d251; }

.column-count {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }

.list-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-payment li {
    margin: 0 14px 0 0; }
    .list-payment li:last-child {
      margin: 0; }

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }
  .mail:hover {
    color: #f9d251; }
  .mail .svg-icon {
    width: 16px;
    height: 12px;
    fill: #999;
    margin: 0 8px 0 0; }

.box-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .box-subscribe h3 {
    white-space: nowrap;
    margin: 0 23px 0 0; }

.form-subscribe {
  width: 290px;
  position: relative; }
  .form-subscribe label {
    width: 100%; }
  .form-subscribe input {
    border: solid 1px rgba(255, 255, 255, 0.15);
    background: transparent;
    padding: 0 36px 0 20px;
    color: #fff; }
    .form-subscribe input::-webkit-input-placeholder {
      color: #999999; }
    .form-subscribe input::-moz-placeholder {
      color: #999999; }
    .form-subscribe input::-ms-input-placeholder {
      color: #999999; }
    .form-subscribe input::placeholder {
      color: #999999; }
    .form-subscribe input:required:valid {
      color: #fff; }
  .form-subscribe button {
    width: 20px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .form-subscribe button svg {
      fill: #fff; }

.modal__div {
  position: fixed;
  width: 100%;
  max-width: 400px;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }

.modal__wrapper {
  background: #fff;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 50px auto;
  padding: 44px 25px 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
  .modal__wrapper h2 {
    margin: 0 auto 35px;
    width: 100%;
    text-align: center; }

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0.2;
  width: 16px;
  height: 16px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .modal__close:hover {
    opacity: 1; }
  .modal__close:before, .modal__close:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 8px;
    top: 0;
    background: #000; }
  .modal__close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal__close::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #eeeeee;
  opacity: 0.85;
  -moz-opacity: 0.85;
  filter: alpha(opacity=85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.mobile-menu {
  display: none;
  z-index: 3;
  width: 100%;
  position: fixed;
  left: 0;
  top: 50px;
  background: #272b2e;
  padding: 38px 10px; }
  .mobile-menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 18px;
    font-weight: normal;
    margin: -17px 0 0; }
    .mobile-menu .menu li {
      width: 100%;
      margin: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
      .mobile-menu .menu li a {
        width: 100%;
        padding: 17px 0; }

.btn-search {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-search svg {
    fill: #fff; }

.btn-close {
  position: relative;
  margin: 0 0 6px auto;
  width: 18px;
  height: 18px; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 8px;
    top: 0;
    background: #fff; }
  .btn-close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.btn-burger {
  width: 24px;
  display: none;
  margin: 0 20px 0 0; }
  .btn-burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 0 0 6px; }
    .btn-burger span:last-child {
      margin: 0; }

.cabinet-page {
  padding: 98px 0 99px; }
  .cabinet-page h1 {
    margin: 0 auto 69px;
    text-align: center;
    width: 100%; }

.form-cabinet {
  margin: 0 auto;
  font-size: 14px; }
  .form-cabinet .input-title {
    font-weight: 600;
    margin: 0 0 10px; }
  .form-cabinet input {
    border: none;
      border-bottom: 1px solid #999999;
    padding: 7px 0;
    height: auto;
    font-size: 14px; }
    .form-cabinet input:placeholder {
      color: #999999; }
  .form-cabinet label {
    width: 100%;
    margin: 0 0 50px; }
  .form-cabinet .checkbox {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .form-cabinet .checkbox input {
      padding: 0;
      border: none; }
  .form-cabinet button {
    margin: 0 auto 30px;
    max-width: 180px; }
  .form-cabinet .links {
    margin: 0 auto 17px;
    font-size: 13px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .form-cabinet .links:last-child {
      margin: 0 auto; }

.col-3 {
  width: 33.3%;
  padding: 0 15px; }

.col-12 {
  width: 100%;
  padding: 0 15px; }

.m-auto {
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 -15px; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto; }

.checkbox-custom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -2px 9px 0 0;
  width: 16px;
  height: 16px;
  min-width: 16px;
  border: solid 1px #dbdbdb;
  background: #fff; }

.checkbox-inp {
  display: none; }

.checkbox-inp:checked + .checkbox-custom::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: #f9d251; }

.registration-page {
  padding: 100px 0 117px; }
  .registration-page h1 {
    margin: 0 auto 64px;
    text-align: center;
    width: 100%; }

.form-registration button {
  max-width: 220px; }

.breadcrumbs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 58px;
  font-size: 12px;
  color: #777; }
  .breadcrumbs li a {
    position: relative;
    color: #333333; }
    .breadcrumbs li a:hover {
      color: #f9d251; }
    .breadcrumbs li a::after {
      content: '/';
      display: inline-block;
      margin: 0 5px; }

.date-article {
  margin: 0 70px 0 auto;
  color: #888888; }

.btn-share {
  color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .btn-share svg {
    fill: #888888;
    width: 15px;
    height: 16px;
    margin: 0 8px 0 0; }

.article-page {
  margin: 0 0 95px; }
  .article-page .line-title {
    padding: 0 0 24px;
    margin: 0 0 60px; }

.article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .article-content h2 {
    font-size: 22px;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 15px;
    margin: 0 0 29px; }
  .article-content .box-text {
    line-height: 1.71; }
  .article-content h4 {
    margin: 0 0 49px;
    font-size: 20px; }
  .article-content h3 {
    margin: 0 0 25px;
    font-size: 18px; }
  .article-content ul, .article-content ol {
    margin: 0 0 25px;
    line-height: 1.71; }
  .article-content strong {
    font-weight: bold;
    margin: 0 0 25px;
    display: inline-block; }

.acticle-box__left {
  width: 51%; }
  .acticle-box__left .article-img {
    margin: 0 0 70px;
    height: 450px; }

.article-img {
  width: 100%; }
  .article-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

blockquote {
  padding: 20px 35px 18px 28px;
  border-left: 5px solid #f9d251;
  background: #f7f7f7;
  margin: 55px 0 50px;
  line-height: 1.71; }

.acticle-box__right {
  width: 42.5%; }
  .acticle-box__right .article-img {
    margin: 55px 0 0;
    height: 440px; }

.font-style-italic {
  font-style: italic; }

.quote-acrticle {
  margin: 77px auto 0;
  font-weight: bold;
  text-align: center;
  line-height: 24px; }
  .quote-acrticle p {
    max-width: 730px;
    margin: 0 auto;
    width: 100%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1430px) {
  .slick-prev {
    left: 0; }
  .slick-next {
    right: 0; }
  .main-home .container {
    padding: 0; } }

@media only screen and (max-width: 1300px) {
  .menu li {
    margin: 0 30px 0 0; } }

@media only screen and (max-width: 1240px) {
  footer .header-box {
    margin: 0 auto; }
  footer .mail {
    margin: 0 10px 0 0; }
  .form-subscribe {
    width: 260px; } }

@media only screen and (max-width: 1200px) {
  .brands-section {
    margin: 70px 0; }
  .header-top .list-social {
    position: relative;
    -webkit-transform: none;
            transform: none;
    right: 0; } }

@media only screen and (max-width: 1100px) {
  .box-subscribe h3 {
    font-size: 14px;
    margin: 0 17px 0 0; }
  .menu {
    font-size: 13px; }
    .menu li {
      margin: 0 20px 0 0; }
  .header-bottom {
    padding: 13px 0 14px; } }

@media only screen and (max-width: 992px) {
  .footer-wrapper__bottom {
    padding: 20px 0 30px; }
  footer {
    padding: 39px 0 0; }
    footer .header-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    footer .mail {
      margin: 0 auto 15px; }
    footer .links-call {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 13px;
      margin: 15px auto 0; }
  .footer-wrapper__top {
    padding: 0 0 39px; }
  .footer-menu {
    font-size: 12px;
    max-width: 150px; }
  .home-main__slider .slide {
    padding: 45px 20px 45px 125px;
    min-height: 450px; }
  .logo {
    max-width: 70px; }
  header .menu {
    display: none; }
  .form-search {
    margin: 0 auto; }
  .btn-burger {
    display: block; }
  .cabinet-page {
    padding: 51px 0 89px; }
  .form-cabinet input {
    font-size: 15px; }
  .registration-page {
    padding: 53px 0	90px; } }

@media only screen and (max-width: 800px) {
  .footer-wrapper__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .header-box {
    margin: 22px auto 30px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .footer-menu {
    max-width: none;
    font-size: 14px; }
  .footer-box {
    margin: 0 0 20px; }
  .section-about__box {
    width: 100%;
    margin: 0 0 45px; }
    .section-about__box:last-child {
      margin: 0; }
  .home-menu li {
    margin: 0 20px 0 0; }
  .col-3 {
    width: 50%; }
  .acticle-box__left, .acticle-box__right {
    width: 100%; }
  .d-mobile-none {
    display: none; }
  .article-content {
    margin: 0 0 47px; }
    .article-content:last-child {
      margin: 0; }
  .m-0 {
    margin: 0; }
  .acticle-box__left {
    margin: 0 0 45px; }
    .acticle-box__left .article-img {
      height: auto;
      margin: 0; }
  .article-page .line-title {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 40px; }
  .article-page h1 {
    width: 100%;
    margin: 0 0 23px; }
  .date-article {
    margin: 0; }
  .breadcrumbs {
    margin: 0 0 50px; }
  blockquote {
    margin: 0 0 50px; }
  .acticle-box__left .article-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin: 0 0 40px; }
  .acticle-box__left .m-0 {
    margin: 0; }
  .quote-acrticle {
    margin: 0;
    line-height: 1.71; } }

@media only screen and (max-width: 700px) {
  .btn-burger {
    margin: 0 70px 0 0; }
  .links-header {
    margin: 0 29px 0 0; }
  header .d-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header .home-menu, header .list-social {
    display: none; }
  header .links-header .links-text {
    display: none; }
  header .links-header .links-icon {
    margin: 0; }
  .links-basket {
    margin: 0 8px 0 0; }
    .links-basket:last-child {
      margin: 0 8px 0 0; }
  .header-center__top {
    padding: 20px 0 18px; }
    .header-center__top .header-box {
      display: none; }
  .header-top {
    padding: 9px 0;
    font-size: 13px; }
    .header-top .container {
      min-height: auto; }
    .header-top .header-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0 auto 0 0; }
    .header-top .schedule {
      margin: 5px 0 0; } }

@media only screen and (max-width: 575px) {
  .footer-box {
    margin: 0;
    display: none; }
    .footer-box:nth-child(2), .footer-box:last-child {
      display: block; }
  .brands-slider .slick-dots {
    position: relative;
    bottom: 0;
    margin: 38px auto 0; }
  .brands-slider__box {
    height: 43px;
    padding: 0 10px; }
  .box-text {
    font-size: 14px; }
  .products-slider .slick-dots {
    bottom: 50px; }
  .card {
    font-size: 15px; }
  .card-title {
    margin: 16px auto 23px; }
  .main-home {
    margin: 0 0 59px; }
  header {
    margin: 0 0 29px; }
  .header-fixed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-fixed .btn-burger {
      margin: 0; }
  .main-home__content h3 {
    font-size: 22px;
    padding: 0 0 0 33px; }
  .main-home__content p {
    font-size: 15px; }
  .main-home__content .btn {
    margin: 27px 0 0; }
  .main-home__sales {
    margin: 18px 0 20px; }
  .main-home__sales-before {
    font-size: 15px;
    padding: 0 6px;
    border-width: 8px; }
  .main-home__sales-value {
    font-size: 91px; }
  .main-home__sales-percent {
    font-size: 65px; }
  .home-main__slider {
    background: url("../img/slide1-mobile.jpg") no-repeat center;
      background-size: cover; }
    .home-main__slider .slide {
      min-height: 330px;
      padding: 42px 20px 20px 75px; }
  .slick-dots {
    bottom: 21px; }
  .col-3 {
    width: 100%; } }

@media only screen and (max-width: 475px) {
  .form-subscribe {
    max-width: 260px;
    width: 100%; }
  .card-body {
    padding: 28px 5px 0; }
  .card {
    font-size: 14px; }
  .products-slider .slick-dots {
    bottom: 30px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .box-subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    .box-subscribe h3 {
      margin: 0 auto 10px; }
  .form-subscribe {
    width: 100%;
    max-width: none; }
  .home-main__slider .slide {
    padding: 40px 20px 60px;
    min-height: auto; } }

@media only screen and (max-width: 360px) {
  .footer-menu {
    font-size: 12px; }
  footer h3 {
    font-size: 15px; }
  .header-top {
    font-size: 12px; }
    .header-top .phone {
      font-size: 12px; } }
