@import "fonts"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666

body input:required:valid,
body textarea:required:valid
	color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: $default-font
	font-weight: normal
	background: #fff
	color: $text
	font-size: 14px

html, body
	overflow-x: hidden

img
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

a
	display: block
	text-decoration: none
	transition: .3s ease
	outline: none

	&:hover, &:focus
		text-decoration: none

input, textarea, select
	outline: none
	box-shadow: none
	appearance: none
	padding: 0 20px
	box-sizing: border-box
	font-family: $default-font
	color: $input
	font-size: 13px
	width: 100%
	box-shadow: none
	border: solid 1px #b7b7b7
	&::placeholder
		color: $input

input
	height: 50px

textarea
	height: 95px
	padding: 10px

.input-title
	width: 100%
	display: inline-block
	margin: 0 0 9px
	font-weight: 600
	
sup
	color: #e75a5a
	font-weight: bold	

.required-fields
	font-size: 12px
	font-weight: normal

.form
	width: 100%
	label
		margin: 0 0 19px	
	.btn
		margin: 24px auto 0			

label
	display: block

button
	outline: none
	padding: 0
	border: none
		radius: 0	
	cursor: pointer
	transition: .3s ease	
	background: transparent

.container
	max-width: 1440px
	width: 100%
	padding: 0 15px
	position: relative
	display: flex
	flex-wrap: wrap
	margin: 0 auto	

.btn
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	height: 50px
	font-weight: 600
	max-width: 160px
	width: 100%	

.btn-accent
	background: $accent
	color: $text
	&:hover
		background: $text
		color: $accent

.color-yellow
	color: $accent	

.color-light-grey
	color: #777777	

a.color-light-grey
	&:hover
		color: $accent	

.text-decoration
	text-decoration: underline	

.font-bold
	font-weight: bold	

.font-600
	font-weight: 600	

.w-100
	width: 100%

.svg-icon
	display: inline-block
	width: 100%
	height: 100%
	transition: .3s ease	

.list-social
	display: flex
	align-items: center
	li
		margin: 0 11px 0 0
		&:last-child
			margin: 0
		a
			display: flex
			align-items: center
			justify-content: center
			border: 1px solid #fff
				radius: 50%
			width: 36px
			height: 36px
			padding: 8px
			svg
				fill: #fff
			&:hover
				border-color: $accent
				svg
					fill: $accent	

.logo
	display: flex
	align-items: center
	justify-content: center
	max-width: 104px
	width: 100%

.line-title
	@include box-wrapper
	width: 100%
	border-bottom: 1px solid #e7e7e7
	padding: 0 0 16px
	margin: 0 0 11px	

h2
	font-size: 26px
	font-weight: 900

h3
	font-weight: 900
	font-size: 20px

.box-text
	line-height: 1.57
	p
		margin: 0 0 25px
		&:last-child
			margin: 0	

.list-dots
	li
		&::before
			display: inline-block
			content: ''
			width: 6px
			height: 6px
			border-radius: 50%
			background: #777777		
			margin: 0 9px 0 0

// header
header
	margin: 0 0 30px
	.logo
		margin: 0 auto

.header-top
	background: $footer-bg
	padding: 7px 0
	position: relative
	
	.container
		min-height: 50px
		align-items: center
	.list-social
		position: absolute
		right: 15px
		top: 50%
		transform: translate(0,-50%)

.home-menu
	font-size: 13px
	margin: 0 auto
	@include menu-wrapper
	li
		margin: 0 30px 0 0
		&:last-child
			margin: 0
		a
			&:not(.color-yellow)
				color: #b3b3b3
			&:hover
				color: $accent

.header-center
	background: $header-bg
	color: #fff	
	&__top
		padding: 27px 0 21px
		@include menu-wrapper

.menu
	font-weight: 600
	@include menu-wrapper
	li
		margin: 0 50px 0 0
		&:last-child
			margin: 0
		a
			&:not(.color-yellow)
				color: #fff
			&:hover
				color: $accent

.header-bottom
	padding: 18px 0
	border-top: 1px solid rgba(#fff, .15)
	@include box-wrapper

.form-search
	display: flex
	align-items: center
	button
		margin: 0 16px 0 0
		width: 24px
		height: 24px
		min-width: 24px
		svg
			fill: #fff
		&:hover
			svg
				fill: $accent	
	label
		width: 211px	
	input
		background: transparent	
		border: none
		padding: 0

.links-header
	display: flex
	align-items: center
	color: #777777
	margin: 0 30px 0 0
	&:last-child
		margin: 0
	svg
		fill: #fff	
	&:hover
		color: $accent	
	.links-icon
		margin: 0 10px 0 0
		width: 22px
		height: 26px	

.links-basket
	.links-icon
		position: relative
		margin: 0 18px 0 0
	.svg-icon
		width: 21px
		height: 28px

.links-basket__val
	color: #272b2e
	font-size: 12px
	font-weight: bold
	width: 14px
	height: 14px
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	background: #f9d251
	border-radius: 50%	
	line-height: 1	
	position: absolute
	top: 0
	right: -5px

.schedule
	margin: 11px 0
	color: #777777

.header-box
	font-size: 13px	

.phone-wrapper
	@include menu-wrapper
	.phone
		&::after
			content: '/'
			display: inline-block
			margin: 0 5px
			color: #777777
		&:last-child
			&::after
				display: none	
	.svg-icon
		margin: 0 7px 0 0
		width: 16px
		height: 16px
		fill: #999			

.phone
	color: #fff
	font-size: 14px
	&:hover
		color: $accent
			
// .main-home
.main-home
	margin: 0 0 69px

.home-main__slider
	.slide
		position: relative
		min-height: 551px
		padding: 116px 20px 20px 390px

.main-home__bg
	@include img-100
	@include position-absolute-center	

.slick-slide
	outline: none

.slick-dotted.slick-slider
	margin-bottom: 0	

.slick-dots
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	bottom: 31px
	box-sizing: border-box
	li
		width: 20px
		height: 20px
		border-radius: 50%
		position: relative
		border: 2px solid transparent
		transition: .3s ease
		&::before
			content: ''
			border-radius: 50%
			transition: .3s ease
			width: 8px
			height: 8px
			background: #aaaaaa
			@include position-absolute-center
		button
			display: none		
	.slick-active
		border-color: $accent
		&::before
			background: $accent			

.main-home__content
	position: relative
	display: flex
	flex-direction: column
	align-items: flex-start
	h3
		text-transform: uppercase
		font-size: 30px
		font-weight: bold	
		padding: 0 0 0 50px
	p
		font-size: 25px
		font-weight: 600	
	.btn
		margin: 35px 0 0

.main-home__sales
	display: flex
	align-items: center
	margin: 29px 0

.main-home__sales-before
	font-size: 22px
	font-weight: 600
	text-align: center
	border-bottom: 12px solid $accent
	padding: 0 10px	
	margin: -40px 1px 0 0

.main-home__sales-value
	color: $accent	
	font-size: 140px
	font-weight: 900
	display: flex
	align-items: flex-end
	line-height: .7

.main-home__sales-percent
	font-size: 100px	
	font-weight: normal
	line-height: .7	

// .products-slider
.card
	background: #fff
	max-width: 280px
	width: 100%
	height: 480px
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	padding: 30px 0 0
	font-weight: 600
	font-size: 14px
	transition: .3s ease
	cursor: pointer
	margin: 18px auto
	.btn
		margin: 23px auto 0
		display: none
	&:hover
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1)
		z-index: 1
		.btn
			display: flex

			
.list-tags
	display: flex
	flex-direction: column
	align-items: flex-start
	font-size: 12px
	font-weight: 600
	text-transform: uppercase
	position: absolute
	left: 0
	top: 20px
	li
		display: flex
		align-items: center
		text-align: center
		justify-content: center
		padding: 6px 11px 4px
		margin: 0 0 3px
		height: 28px
		&:last-child
			margin: 0

.bg-accent
	background: $accent

.bg-light-grey
	background: #ececec	

.price-wrapper
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
	font-weight: 700
	font-size: 18px
	line-height: 1

.old-price
	text-decoration: line-through	
	margin: 0 8px 0 0
	color: #888888
	font-size: 14px
	font-weight: 600

.card-img
	display: flex
	align-items: center
	justify-content: center
	height: 210px
	img
		max-height: 100%	

.card-title
	color: #333333
	margin: 18px auto 23px
	&:hover
		color: $accent

.card-body
	padding: 29px 18px 0

.list-rating
	@include menu-wrapper
	justify-content: center
	li
		margin: 0 4px 0 0
		width: 14px
		height: 14px
		&:last-child
			margin: 0		
		svg
			fill: $accent
	.star-0
		svg
			fill: #ececec
				
.slick-arrow
	z-index: 1
	opacity: 1
	width: 42px
	height: 42px
	display: flex
	align-items: center
	justify-content: center
	border: 1px solid #b7b7b7
		radius: 50%
	background: #fff
	transition: .3s ease
	svg
		width: 15px
		height: 18px
		fill: #b7b7b7
		transition: .3s ease
	&::before
		display: none
	&:hover
		border-color: $accent
		svg
			fill: $accent	

.slick-prev
	left: -21px

.slick-next
	right: -21px				

// .section-about
.section-about
	.container
		justify-content: space-between
	h2
		margin: 0 0 43px
	h3
		margin: 0 0 46px
	h4
		margin: 0 0 44px
		font-size: 24px	
	.box-text
		color: #777
		margin: 0 0 30px
		&:last-child
			margin: 0
	ul
		color: #777		
		line-height: 2.14		
		margin: 0 0 26px

.section-about__box
	width: 48.5%	

// brands-section
.brands-section
	margin: 93px 0 110px		

.brands-slider__box
	display: flex
	align-items: center
	justify-content: center
	height: 70px
	img
		max-height: 100%			

// footer
footer
	padding: 54px 0 0
	color: #fff
	background: $header-bg
	h3
		font-size: 16px
		font-weight: bold
		margin: 0 0 20px
	.list-social
		margin: 16px 0 27px	
	.links-call
		display: none	
	.header-box
		display: flex
		align-items: center
		flex-wrap: wrap
		font-size: 14px
		margin: 0 93px 0 auto
	.mail
		margin: 0 98px 0 0
	.logo
		max-width: 80px	

.footer-bottom
	background: $footer-bg	
	padding: 16px 0

.copyright
	margin: 0 auto
	font-size: 13px	

.footer-wrapper__bottom
	padding: 20px 0 22px
	border-top: 1px solid rgba(#f9f9f9, .15)
	@include box-wrapper	

.footer-wrapper__top
	@include box-wrapper2	
	padding: 0 0 48px	

.footer-menu
	line-height: 2.14
	li
		a
			color: #c7c7c7	
			&:hover
				color: $accent

.column-count
	column-count: 2		

.list-payment
	display: flex
	align-items: center
	flex-wrap: wrap
	li
		margin: 0 14px 0 0
		&:last-child
			margin: 0				

.mail
	display: flex
	align-items: center
	color: #fff
	&:hover
		color: $accent
	.svg-icon
		width: 16px
		height: 12px
		fill: #999
		margin: 0 8px 0 0	

.box-subscribe
	display: flex
	align-items: center
	h3
		white-space: nowrap
		margin: 0 23px 0 0

.form-subscribe
	width: 290px
	position: relative
	label
		width: 100%
	input
		border: solid 1px rgba(#ffffff, .15)
		background: transparent	
		padding: 0 36px 0 20px
		color: #fff
		&::placeholder
			color: #999999
		&:required:valid
			color: #fff
	button
		width: 20px
		height: 16px
		position: absolute
		right: 16px
		top: 50%
		transform: translate(0,-50%)
		svg
			fill: #fff	

// modal
.modal__div
	position: fixed
	width: 100%
	max-width: 400px
	height: 100%
	top: 45%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 101
	overflow: auto
	justify-content: center
	align-items: center
	flex-direction: column
	display: none
	opacity: 0	

.modal__wrapper
	background: #fff
	width: 100%
	height: auto
	overflow: auto
	margin: 50px auto
	padding: 44px 25px 47px
	box-sizing: border-box
	position: relative	
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)
	h2
		margin: 0 auto 35px
		width: 100%
		text-align: center

.modal__close
	position: absolute
	top: 16px
	right: 16px
	opacity: 0.2
	width: 16px
	height: 16px
	cursor: pointer
	transition: .3s ease
	&:hover
		opacity: 1
	&:before, &:after
		content: ''
		position: absolute
		width: 1px
		height: 100%
		left: 8px
		top: 0
		background: #000
	&::before
		transform: rotate(45deg)
	&::after
		transform: rotate(135deg)			

.overlay
	z-index: 100
	position: fixed
	background-color: #eeeeee
	opacity: 0.85
	-moz-opacity: 0.85
	filter: alpha(opacity = 85)
	width: 100%
	height: 100%
	top: 0
	left: 0
	cursor: pointer
	display: none

@import "media"
// Всегда в конце
